*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family:'Source Sans Pro', sans-serif;
  line-height: 1.6;
  max-width: 1100px;
  margin: 0 auto;
}

header{
  
  display: flex;
  justify-content: space-between;
  background: white;
  position: fixed;
  max-width: 1100px;
  
}
.logo{
  padding-left: 410px;
}
.menu{
  display: flex;
}

.menu .item{
  width: 100px;
  list-style: none;
  position: relative;
  background: white;
}
.menu .item{
border-right: 1px solid black;
}
.menu .item:first-child{
  border-left: 1px solid black;
}
.menu .item-bottom{
width: 200px;
list-style: none;
position: relative;
background: white;
}
.menu .item-bottom a{
  text-align: left;
}

.menu a{
  color:black;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  transition: all 0.5s;
}

.menu a:hover{
  background: #0e0e0f;
  color: white;
}
.menu ul{
  position: absolute;
  left: 0;
  display: none;
  padding: 0;
}
.menu li:hover ul{
  display: block;
}
.foto{
  width: 100%;
  background-image:url(../Foto/Tennis-racket1-resized-banner.png);
  height: 350px;
  background-size: cover;
  top: 30px
}
.content{
  border-bottom: 3px solid black;
}
h2{
  text-align: center;
  margin-top: 20px;
  color: rgb(0, 0, 0);
}
.content-text{
  padding-top: 50px;
  text-align: justify;
}
.content-bottom{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.fan{
  font-size: 25px;
}
textarea{
  border: 2px solid black;
  margin: 20px 20px 0px 0px;
}
button{
  padding: 6px 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
  
}
.button{
  padding-bottom: 10px;
  padding-left: 10px;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.applay{
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  justify-content:flex-start
}

footer{
  max-width: 1100px;
 margin: 0 auto;
 overflow: auto;
 padding: 0 30px;
 background-color: rgb(39, 39, 41);
}
.icons{
  text-align: center;
}
.fab{
  font-size: 20px;
  margin: 20px 0 5px 20px;
  color: rgb(255, 255, 255);
  
}
.icons .fas{
  font-size: 10px;
  margin: 0 0 0 20px;
  color: rgb(255, 255, 255);
}
span{
  font-size: 10px;
  color: white;
}